<!DOCTYPE html>
<html lang="fi">
<head>
    <meta charset="UTF-8">
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Documentti</title>
    <style>  
    p.tärkee {
        color: green;
    }
    </style>
    <link rel="stylesheet" href="tyyli.css">
</head>

<body style="background-color: aqua;">
  
    </style>
    <h1>Diibadaaba </h1>
   
    <a href="https://taitotalo.fi">Taitotalo</a>
    <p id="yks"> <strong> Lorem </strong>ipsum dolor, sit amet consectetur adipisicing elit. Mollitia nisi earum non qui minus esse amet cumque suscipit quae 
        cupiditate. Sequi harum itaque maiores molestiae atque. Dolore tenetur accusantium itaque.</p>
        <p>
         <a href="https://matkatoimisto.fi" target="_blank">
            <img src="C:\\Users\\Läppäri\\Perkele\\Documents\\py scheisset\\Flask\\commands.png" alt=""> </a>
        </p>
        <p class="tärkee">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nobis minima corporis aliquam quae optio veniam sequi blanditiis 
            facilis assumenda? Ex nostrum eius voluptatem modi quidem eveniet atque! Temporibus, illum tempore?
        </p>
   
</body>

</html>